<app-list-header
  (onSearchTermSubmit)="onSearchSubmit($event)"
></app-list-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <app-list-content
        *ngIf="matchedSearchData.length === 0"
        [tableData]="tableData"
        (onDetailsClicked)="onDetailsClicked($event)"
      ></app-list-content>
      <app-list-content
        *ngIf="matchedSearchData.length !== 0"
        [tableData]="matchedSearchData"
        (onDetailsClicked)="onDetailsClicked($event)"
      ></app-list-content>
    </div>
    <div class="col-md-3">
      <app-sidebar [detailedData]="detailedData"> </app-sidebar>
    </div>
  </div>
</div>
